@model Octopus.Models.Recarga

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>
<div>
    <a class="btn btn-danger" asp-action="Index">Back to List</a>
</div>
<div>
    <h4>Recarga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateResolved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateResolved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto.MontoCant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrier.CarrierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebServDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebServDesc.WebServiceName)
        </dd>
    </dl>
</div>

